.header {

    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: black;
    font-size: 30px;
    text-align: center;

    margin: 30px 20px 40px 20px;

    min-width: 400px;

    border-radius: 10px;

    padding: 20px 20px 20px 30px;
}

/*.new-list {*/
/*    border: none;*/
/*    background-color: rgba(0,0,0,0);*/
/*    color: white;*/
/*    font-size: 20px;*/

/*    text-decoration: underline;*/
/*    !*text-decoration-thickness: 4px;*!*/

/*    cursor: pointer;*/
/*}*/

.new-list {
    border: none;

    background: transparent url('../assets/icons/new-list.png') no-repeat;
    background-size: contain;

    height: 40px;
    width: 40px;

    cursor: pointer;

    vertical-align: middle;

    margin-right: 20px;
}

.clear-all-button {
    border: none;

    background: transparent url('../assets/icons/clear-all.png') no-repeat;
    background-size: contain;

    height: 40px;
    width: 40px;

    cursor: pointer;

    vertical-align: middle;

    margin-right: 40px;
}